<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <include filename="$(find lego_spike_description)/urdf/lego_hub.urdf.xacro" />
  <xacro:lego_hub name="mindstorms_hub" parent="mid_mount">
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </xacro:lego_hub>

  <include filename="$(find lego_spike_description)/urdf/lego_color_sensor.urdf.xacro" />
  <xacro:lego_color_sensor name="color_sensor" parent="mid_mount">
    <origin xyz="0.1 0 0.1" rpy="0 0 0" />
  </xacro:lego_color_sensor>

  <include filename="$(find lego_spike_description)/urdf/lego_distance_sensor.urdf.xacro" />
  <xacro:lego_distance_sensor name="distance_sensor" parent="mid_mount">
    <origin xyz="0.2 0 0.1" rpy="0 0 0" />
  </xacro:lego_distance_sensor>

  <include filename="$(find lego_spike_description)/urdf/lego_force_sensor.urdf.xacro" />
  <xacro:lego_force_sensor name="force_sensor" parent="mid_mount">
    <origin xyz="0.3 0 0.1" rpy="0 0 0" />
  </xacro:lego_force_sensor>

  <include filename="$(find lego_spike_description)/urdf/lego_small_motor.urdf.xacro" />
  <xacro:lego_small_motor name="small_motor" parent="mid_mount">
    <origin xyz="-0.1 0 0.1" rpy="0 0 0" />
  </xacro:lego_small_motor>

  <include filename="$(find lego_spike_description)/urdf/lego_large_motor.urdf.xacro" />
  <xacro:lego_small_motor name="large_motor" parent="mid_mount">
    <origin xyz="-0.2 0 0.1" rpy="0 0 0" />
  </xacro:lego_small_motor>
</robot>
