<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find lego_spike_description)/urdf/lego_materials.urdf.xacro" />

  <xacro:macro name="lego_hub" params="name parent *origin">
    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="package://lego_spike_description/meshes/SpikePrimeHub.stl" scale="0.0004 0.0004 0.0004"/>
        </geometry>
        <material name="lego_white" />
        <origin xyz="0 0 0" rpy="1.5707963267948966 0 0" />
      </visual>
      <collision>
        <geometry>
          <box size="0.056 0.088 0.032" />
        </geometry>
        <origin xyz="0.004 -0.005 0.016" rpy="0 0 0" />
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}_link" />
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${name}_imu_link" />
    <joint name="${name}_imu_joint" type="fixed">
      <parent link="${name}_link" />
      <child link="${name}_imu_link" />
      <!-- TODO: exact IMU position -->
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  </xacro:macro>
</robot>
