<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <material name="lego_white">
    <color rgba="0.9 0.9 0.9 1.0" />
  </material>
  <material name="lego_black">
    <color rgba="0.1 0.1 0.1 1.0" />
  </material>
  <material name="lego_teal">
    <color rgba="0.0 0.8 0.8 1.0" />
  </material>
  <material name="lego_yellow">
    <color rgba="0.8 0.8 0.0 1.0" />
  </material>

</robot>
