<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="lego_base_plate" params="name parent *origin">
    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="package://lego_spike_description/meshes/SpikePrimeBasePlate.stl" scale="0.0004 0.0004 0.0004"/>
        </geometry>
        <material name="lego_teal" />
        <origin xyz="0.004 00.004 0" rpy="1.5707963267948966 0 -1.5707963267948966" />
      </visual>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}_link" />
      <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>
</robot>
